<launch>

  <!-- Converts joystick commands to dx,dy,dtheta -->
  <!-- Reads /dev/input/jsX and outputs the ros /joy topic -->
  <include file="$(find iai_boxy_bringup)/launch/ps3_from_dev_input_js.launch"/>

  <!--Looks at the /joy to decide if the runstop is active or not-->
  <node name="soft_runstop" pkg="soft_runstop" type="soft_runstop">
    <param name="stop_button" type="int" value="0"/>
    <param name="start_button" type="int" value="3"/>
  </node>

  <!-- Start the EtherCAT controllers for the omnidirectional base -->
  <include file="$(find iai_boxy_bringup)/launch/omnidrive.launch" />


</launch>

