<launch>

  <arg name="ros_control" default="true"/> <!-- put this back to false!f not run from boxy_complete -->

  <include file="$(find iai_boxy_bringup)/launch/gripper/ft_sensor.launch"/>
  <!-- TODO: configure gripper launchfile -->
  <include file="$(find iai_boxy_bringup)/launch/gripper/wsg50.launch">
    <arg name="ros_control" value="$(arg ros_control)"/>
  </include>

</launch>
