<launch>
  <!-- we used to use ps3joy_node from ps3joy, but it broke for recent
       kernels. Now we use QtSixA, that starts a daemon,
       and offers /dev/input/js0, so now we only need the joy_node -->

  <node pkg="joy" type="joy_node" name="ps3_joy" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="20" />
    <param name="coalesce_interval" value="0.01" />
  </node>

  <!--Looks at the /joy to decide if the runstop is active or not-->
  <node name="soft_runstop" pkg="soft_runstop" type="soft_runstop">
    <param name="stop_button" type="int" value="0"/>
    <param name="start_button" type="int" value="3"/>
  </node>

  <!-- TODO: get diagnostics aggregator back in -->
  <!--node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find ps3joy)/diagnostics.yaml" />
  </node-->

  <node pkg="iai_boxy_teleop" type="boxy_teleop_joy" name="boxy_telop_joy">
    <param name="scale_angular" value="0.6"/>
    <param name="scale_linear" value="0.5"/>
    <param name="axis_deadman" value="10"/>
    <param name="axis_headctrl" value="8"/>
    <param name="axis_linear_x" value="3"/>
    <param name="axis_linear_y" value="2"/>
    <param name="axis_angular" value="0"/>
    <param name="axis_head_pan" value="2"/>
    <param name="axis_head_tilt" value="2"/>
  </node>

</launch>
